/*style sheet for html file*/

* {
  box-sizing: border-box;
  margin:0
  padding:0;
  position:relative;
  font-family:sans-serif;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
  position: relative;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: calc(33.33% - 20px);
    margin:10px;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: calc(50% - 20px);
    margin:10px;

  }
  .col-md-12 {
    width: calc(100% - 20px);
    margin:10px;
  }
}

/********** Small devices only **********/

@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: calc(100% - 20px);
    margin:10px;

  }
}

/********** Positioning for the headings **********/

div.row div{
	position:relative;
}

#title{
	text-align:center;
	margin:10px;
	font-size: 175%;
	font-weight: bold;

}

#h1,#h2,#h3{

	position: absolute;
	right:0;
	font-size: 125%;
	font-weight: bold;
	text-align: center;

}

#space{
	position:relative;
	font-size: 125%;
	padding:15px;
}

/********** Margins, padding, borders, font size **********/
*{
	box-sizing: border-box;
	margin:0px;
}
div.row>div{
	  border: 1px solid black;
	  padding: 0px;
	  background-color:#CFCECE;
}

div.row>div>p{
	padding:10px;
}

#h1,#h2,#h3{
	width:150px;
	padding:5px;
	border:1px solid black;
	border-top-width: 0px;
	border-right-width:0px;
}




p{
	position:relative;
}

/********** Background colors **********/

#h1{
	background-color:#B3BCF0;
}

#h2{
	background-color:#B3F0D9;

}

#h3{
	background-color:#F0B3B3;
}
